.hexagon {
  aspect-ratio: 1/1;
  width: 25%;
  position: relative;
  background-color: #6419E6; 
  /* clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%); */
  clip-path: polygon(42% 0%, 84% 25%, 84% 75%, 42% 100%, 0% 75%, 0% 25%);
  right: -2%;
}

.hexinfo{
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
  grid-template-rows: 1fr 1fr 1fr;
  position: relative;
  right: 8%;
  font-size: 100%;
}
  
.hexagonContainer{
  display:flex;
  flex-wrap:wrap;
  max-width: 1200px;
  align-items: center;
  margin:auto;
}

.second-row{
  position: relative;
  left: 14.5%;
  bottom: 2rem;
  order:1;
  justify-content: center;
}

@media screen and (max-width: 800px) {
  .hexagonContainer{
    display:flex;
    flex-wrap:wrap;
    max-width: 750px;
    align-items: center;
    margin:auto;
    position: relative;
    left: 1%;
  }


  .hexagon{
    width: 50%;
    margin: 2% 0 2% 0;
  }
  .second-row{
    position:relative;
    left: 2%;
    bottom: 0;
    order: 0;
  }
  .hexagon:last-child{
    position: relative;
    left: 27.25%;
    bottom: 2.5rem;
  }
}
  
.down{
  position: relative;
  bottom: 65px;
  margin: 150px;
  /* left: 5px; */
}
.button-down{
  position: relative;
  bottom: 20px;
}

/* line */
.stat-group, .stat-group-up {
  position: relative;
}

.stat-group::before,
.stat-group::after {
  content: '';
  position: absolute;
  width: 1px;
  height: 100%;
  background-color: #A6ACBA;
  /* background-color: #5616C6; */
  animation: lineAnimation 3s ease-in-out infinite forwards;
}
.stat-group-up::before,
.stat-group-up::after{
  content: '';
  position: absolute;
  width: 1px;
  height: 100%;
  
  background-color: #A6ACBA;
  /* background-color: #5616C6; */
  animation: lineAnimationup 3s ease-in-out infinite forwards;
  }

  /* up to down */
@keyframes lineAnimation {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}

/* from down to up */
@keyframes lineAnimationup {
0% {
  height: 100%;
  top: 100%;
}
100% {
  height: 100%;
  top: 0;
  }
}

.stat-group::before {
left: 0;
top: 0;
}

.stat-group::after {
right: 0;
top: 0;
}
.stat-group-up::before {
left: 0;
top: 0;
}

.stat-group-up::after {
right: 0;
top: 0;
}


