.hexagon {
    width: 250px;
    height: 250px;
    position: relative;
    background-color: #5616C6; 
    border: 5px solid #5616C6;  
    background-color: #6419E6; 
    border: 5px solid #6419E6;  
  
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  }
  
.down{
    position: relative;
    bottom: 65px;
    margin: 150px;
    /* left: 5px; */
}
.button-down{
    position: relative;
    bottom: 20px;
}

/* line */
.stat-group, .stat-group-up {
    position: relative;
  }
  
  .stat-group::before,
  .stat-group::after {
    content: '';
    position: absolute;
    width: 1px;
    height: 100%;
    background-color: #A6ACBA;
    /* background-color: #5616C6; */
    animation: lineAnimation 3s ease-in-out infinite forwards;
  }
  .stat-group-up::before,
  .stat-group-up::after{
    content: '';
    position: absolute;
    width: 1px;
    height: 100%;
    
    background-color: #A6ACBA;
    /* background-color: #5616C6; */
    animation: lineAnimationup 3s ease-in-out infinite forwards;
  }

  /* up to down */
@keyframes lineAnimation {
    0% {
      height: 0;
    }
    100% {
      height: 100%;
    }
  }

  /* from down to up */
  @keyframes lineAnimationup {
    0% {
      height: 100%;
      top: 100%;
    }
    100% {
      height: 100%;
      top: 0;
    }
  }
  
  .stat-group::before {
    left: 0;
    top: 0;
  }
  
  .stat-group::after {
    right: 0;
    top: 0;
  }
  .stat-group-up::before {
    left: 0;
    top: 0;
  }
  
  .stat-group-up::after {
    right: 0;
    top: 0;
  }
  

  