<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/daisyui@3.9.2/dist/full.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Meet The Devs</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body class="font-sans">
    <header class="text-white py-4">
        <h1 class="text-4xl font-bold text-center">About Us</h1>
    </header>

    <section class="p-4 bg-[#191E25] text-white my-1 mx-4 rounded-lg">
        <h2 class="text-2xl font-semibold mb-4">Discover Financial Freedom</h2>
        <p>At Fynanse, we're here to help you take control of your finances and achieve your financial goals. Our budget management application provides you with the tools you need to manage your income and spending effectively.</p>
    </section>
    <section class="p-4 bg-[#191E25] text-white my-1 mx-4 rounded-lg">
        <h2 class="text-2xl font-semibold mb-4">Key Features</h2>
        <ul class="list-disc pl-4">
            <li>Track Your Income: Record your daily and monthly income to get a clear picture of your financial resources.</li>
            <li>Manage Your Spending: Log your daily expenses, categorize them, and visualize your spending patterns.</li>
            <li>Budget Planning: Our app helps you create and stick to a budget, ensuring you stay on track financially.</li>
            <li>Financial Insights: Gain valuable insights into your spending habits, savings potential, and areas for improvement.</li>
            <li>User-Friendly: Our intuitive interface makes budget management easy for everyone.</li>
        </ul>
    </section>
    <section class="p-4 bg-[#191E25] text-white my-1 mx-4 rounded-lg">
        <h2 class="text-2xl font-semibold mb-4">Get Started Today</h2>
        <p>Ready to take the first step toward financial freedom? Sign up for our budget management application now and experience the benefits of effective budgeting.</p>
        <a href="/signup.html" class=" font-bold btn btn-primary text-white py-2 px-6 rounded-lg mt-4 hover:btn-ghost">Sign Up</a> <!-- Replace "signup.html" with your actual signup page -->
    </section>
    <section class=" p-4 text-white text-center text-sm">
        <h2 class="text-2xl font-semibold mb-4">Meet the Developers</h2>
        <p>Daiyaan Muhammad Fardeen: <a href="https://github.com/DaiyaanMuhammad" class="text-blue-600 underline" target="_blank">https://github.com/DaiyaanMuhammad</a></p>
        <p>Dhrubajit Acharya Bishal: <a href="https://github.com/captainspeedy68" class="text-blue-600 underline" target="_blank">https://github.com/captainspeedy68</a></p>
        <p>Nadia Sharmin Sumya: <a href="https://github.com/Nadiasharmin017" class="text-blue-600 underline" target="_blank">https://github.com/Nadiasharmin017</a></p>
    </section>

    <footer class="text-center py-2 text-sm">
        <p>&copy; 2023 Fynanse. All rights reserved.</p>
    </footer>
</body>
</html>
