<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/daisyui@3.9.2/dist/full.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Dashboard</title>
</head>

<body>
  <div class="navbar bg-base-100 shadow-lg">
    <div class="navbar-start">
      <div class="dropdown">
        <label tabindex="0" class="btn btn-ghost btn-circle">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h7" />
          </svg>
        </label>
        <ul tabindex="0" class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52">
          <!-- <li><a>Dashboard</a></li> -->
          <li><a>Settings</a></li>
          <li><a>About</a></li>
        </ul>
      </div>
    </div>
    <div class="navbar-center">
      <a class="btn btn-ghost normal-case text-2xl">Dashboard</a>
    </div>
    <div class="navbar-end">
      <div class="indicator gap-3">
        <!-- <h1 class="font-bold btn">Login</h1> -->
         <a href="/login" class="font-bold btn-outline btn btn-secondary">logout</a> 
      </div>
    </div>
  </div>
  <h1 class="font-bold text-lg text-center"><p>
        Hi <span th:text="${firstName}"></span> <span th:text="${lastName}"></span>
    </p></h1>
    
    <th:object="${currentUser}" />
    <!-- <h1 align="center">Dashboard</h1> -->
    <!-- <a href="/logout">Logout</a> -->
<!--    Saying hi-->
<!--    You can style the saying hi stuff as well. Just copy the firstname and lastname spans anywhere in your code-->
    

<!--    You can use these span tags anywhere in your design and model dashboard accordingly-->
<!--    the ${...} are the variables coming from the backend.-->
<!--    so any string that is concatenated with those, like-->
<!--    the 'Last Spent' string and ' tk' string are concatenated with the variable-->
<!--    You Are Free to remove the strings. Not the variables-->
<!--    Ami just testing er jonno string gula concatenate korsi. Tumi tomar design onyjayee-->
<!--    ogula soriye dite paro chaile-->
    <!-- <span th:text="'Last Spent: '+${lastSpent}+' tk'"></span>
    <br>
    <span th:text="'Current Balance: '+${currentBalance+' tk'}"></span>
    <br>
    <span th:text="'This week: '+${spentLastWeek}+' tk'"></span>
    <br>
    <span th:text="'This month: '+${spentLastMonth}+' tk'"></span>
    <br>
    <span th:text="'Days remaining till next month: '+${daysRemaining}+'days'"></span>
    <br>
    <span th:text="'Remaining: '+${remainingBalancePercentage}+'%'"></span>
    <br> -->

    <div class="stats shadow-2xl box-border border flex mx-28 mb-0 mt-16">
  
        <div class="stat">
          <div class="stat-figure text-secondary">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-8 h-8 stroke-current"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>
          </div>
          <div class="stat-title">Last Spent:</div>
          <span class="stat-value" th:text="${#numbers.formatDecimal(lastSpent, 3, 0, 'POINT')+' tk'}"></span>
<!--          <div class="stat-value">31K</div>-->
          <div class="stat-desc text-[#3FB950]">Jan 1st - Feb 1st</div>
        </div>
        
        <div class="stat">
          <div class="stat-figure text-secondary">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-8 h-8 stroke-current"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6V4m0 2a2 2 0 100 4m0-4a2 2 0 110 4m-6 8a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4m6 6v10m6-2a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4"></path></svg>
          </div>
          <div class="stat-title">Current Balance:</div>
          <span class="stat-value" th:text="${#numbers.formatDecimal(currentBalance, 3, 1, 'POINT')+' tk'}"></span>
<!--          <div class="stat-value">4,200</div>-->
          <div class="stat-desc text-[#3FB950]">↗︎ 400 (22%)</div>
        </div>
        
        <div class="stat">
          <div class="stat-figure text-secondary">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-8 h-8 stroke-current"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 8h14M5 8a2 2 0 110-4h14a2 2 0 110 4M5 8v10a2 2 0 002 2h10a2 2 0 002-2V8m-9 4h4"></path></svg>
          </div>
          <div class="stat-title">This week: </div>
          <span class="stat-value" th:text="${#numbers.formatDecimal(spentLastWeek, 2, 0, 'POINT')+' tk'}"></span>
<!--          <div class="stat-value">1,200</div>-->
          <div class="stat-desc text-[#3FB950]">↘︎ 90 (14%)</div>
        </div>
        
      </div>
    
    <div class="stats shadow-2xl box-border border flex mb-16 mx-28 my-5">
        <div class="stat">
          <div class="stat-figure text-secondary">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-8 h-8 stroke-current"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>
          </div>
          <div class="stat-title">This month:</div>
          <span class="stat-value" th:text="${#numbers.formatDecimal(spentLastMonth, 3, 0, 'POINT')+' tk'}"></span>
<!--          <div class="stat-value">31K</div>-->
          <div class="stat-desc text-[#3FB950]">Jan 1st - Feb 1st</div>
        </div>
        
        <div class="stat">
          <div class="stat-figure text-secondary">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-8 h-8 stroke-current"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6V4m0 2a2 2 0 100 4m0-4a2 2 0 110 4m-6 8a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4m6 6v10m6-2a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4"></path></svg>
          </div>
          <div class="stat-title">Days remaining till next month:</div>
          <span class="stat-value" th:text="${daysRemaining}+' days'"></span>
<!--          <div class="stat-value">4,200</div>-->
          <div class="stat-desc text-[#3FB950]">↗︎ 400 (22%)</div>
        </div>
        
        <div class="stat">
          <div class="stat-figure text-secondary">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-8 h-8 stroke-current"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 8h14M5 8a2 2 0 110-4h14a2 2 0 110 4M5 8v10a2 2 0 002 2h10a2 2 0 002-2V8m-9 4h4"></path></svg>
          </div>
          <div class="stat-title">Remaining: </div>
          <span class="stat-value" th:text="${#numbers.formatDecimal(remainingBalancePercentage, 2, 1, 'POINT')}+'%'"></span>
<!--          <div class="stat-value">1,200</div>-->
          <div class="stat-desc text-[#3FB950]">↘︎ 90 (14%)</div>
        </div>
        
      </div>
      
    <div class="flex justify-center gap-5">
        <a href="/deposit"><button class="btn bg-[#5616C6] text-white">+</button></a>

        <a href="/withdraw"><button class="btn bg-[#D827A9] text-white">-</button></a>
    </div>

    
</body>

</html>