<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/daisyui@3.9.2/dist/full.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Dashboard</title>
</head>

<body>
    <th:object="${currentUser}" />
    <h1 align="center">Dashboard</h1>
    <a href="/logout">Logout</a>
<!--    Saying hi-->
    <h2 th:text="'Hi '+${currentUser.firstName}+' '+${currentUser.lastName}+'!'"></h2>
    <table align="center">
        <tr align="center">
            <th>Last Spent</th>
            <th>Current Balance</th>
            <th>In this Week</th>
            <th>In this Month</th>
        </tr>
        <tr align="center">
            <td th:text="${currentUser.account.lastSpent}"></td>
            <td th:text="${currentUser.account.currentBalance}"></td>
            <td th:text="${currentUser.account.weeklySpent}"></td>
            <td th:text="${currentUser.account.monthlySpent}"></td>
        </tr>
    </table>
    <a href="/deposit">Deposit</a>
    <br>
    <a href="/withdraw">Withdraw</a>
</body>

</html>