<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Something went wrong</title>
</head>
<body>
    <h1 align="center">¯\_(ツ)_/¯</h1>
    <h1 align="center">Something went wrong</h1>
    <h2 align="center">Don't blame me.</h2>
    <h2 align="center">Blame the developers</h2>
    <h2 align="center">ヽ༼ ຈل͜ຈ༼ ▀̿̿Ĺ̯̿̿▀̿ ̿༽Ɵ͆ل͜Ɵ͆ ༽ﾉ</h2>
    <div align="center">
      <a href="/dashboard"><button>Return to dashboard</button></a>
      <a href="/login"><button>Return to login</button></a>
    </div>
</body>
</html>