<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/daisyui@3.9.2/dist/full.css" rel="stylesheet" type="text/css" />
  <script src="https://cdn.tailwindcss.com"></script>
  <title>Login</title>
</head>

<body>
  <!-- <div class="flex justify-center items-center h-screen">

    </div> -->
  <!-- make navbar here -->
  <div class="navbar bg-base-100">
    <div class="navbar-start">
      <div class="dropdown">
        <label tabindex="0" class="btn btn-ghost btn-circle">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h7" />
          </svg>
        </label>
        <ul tabindex="0" class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52">
          <li><a>Homepage</a></li>
          <li><a>Portfolio</a></li>
          <li><a>About</a></li>
        </ul>
      </div>
    </div>
    <div class="navbar-center">
      <a class="btn btn-ghost normal-case text-xl">Fynanse</a>
    </div>
    <div class="navbar-end">
      <div class="indicator gap-3">
        <h1 class="font-bold btn">Login</h1>
        <a class="font-bold btn btn-primary" href="/signup">Register</a>
      </div>
    </div>
  </div>

  <!-- trying something new -->
  <div class="hero min-h-screen bg-base-200">
    <div class="hero-content flex-col lg:flex-row-reverse">
      <div class="text-center lg:text-left">
        <h1 class="text-5xl font-bold">Login now!</h1>
        <p class="py-6">Login if you want some charm in life</p>
      </div>
      <div class="card flex-shrink-0 w-full max-w-sm shadow-2xl bg-base-100">
        <form class="card-body" th:action="@{/loginFormHandle}" th:object="${inputUser}" method="POST">
          <div class="form-control">
            <label class="label" for="username"><span class="label-text">Username: </span></label>
            <input type="text" th:field="*{username}" class="input input-bordered"  name="username" placeholder="Username">
          </div>
          <div class="form-control">
            <label class="label" for="userPassword"><span class="label-text">Password: </span></label>
            <!-- <input type="password" placeholder="password"  required /> -->
            <input type="password" th:field="*{userPassword}" class="input input-bordered" name="userPassword" placeholder="Password">
          </div>
          <div class="form-control mt-6">
            <!-- <button class="btn btn-primary">Login</button> -->
            <button class="btn btn-primary" type="submit">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>

</body>

</html>