<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/daisyui@3.9.2/dist/full.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Sign Up</title>
</head>
<body class="overflow-hidden">
  <div class="navbar bg-base-100 shadow-xl">
    <div class="navbar-start">
      <div class="dropdown">
        <label tabindex="0" class="btn btn-ghost btn-circle">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h7" />
          </svg>
        </label>
        <ul tabindex="0" class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52">
          <!-- <li><a>Dashboard</a></li> -->
          <li class="history">
            <a href="/history">History</a>
          </li>
          <li><a>Settings</a></li>
          <li><a>About</a></li>
        </ul>
      </div>
    </div>
    <div class="navbar-center">
      <a class="btn btn-ghost normal-case text-2xl">Fynanse</a>
    </div>
    <div class="navbar-end">
      <div class="indicator gap-3">
        <!-- <h1 class="font-bold btn">Login</h1> -->
         <a href="/login" class="font-bold btn btn-primary">login</a> 
      </div>
    </div>
  </div>

  <!-- trying the new part here -->
  
  <div class="hero min-h-screen bg-base-200">
    
    <div class="hero-content flex-col mb-52">
      <!-- <div class="text-center lg:text-left">
        <h1 class="text-5xl font-bold">Login now!</h1>
        <p class="py-6">Login if you want some charm in life</p>
      </div> -->
      <h1 class="font-bold text-lg">Sign Up Here!</h1>
      <div class="card flex-shrink-0 w-full max-w-sm shadow-2xl bg-base-100 mt-8 ">
        <form class="card-body" th:action="@{/signUpFormHanlde}" th:method="POST" th:object="${newUser}">
          <div class="form-control">
            <input type="text" th:field="*{username}" class="input input-bordered"  name="username" placeholder="Username" required>
          </div>

          <div class="form-control">
            <input type="text" th:field="*{firstName}" class="input input-bordered"  name="firstName" placeholder="First Name" required>
          </div>
          <div class="form-control">
            <input type="text" th:field="*{lastName}" class="input input-bordered"  name="lastName" placeholder="Last Name" required>
          </div>
          <div class="form-control">
            <input type="password" th:field="*{userPassword}" class="input input-bordered" name="userPassword" placeholder="Password" required>
          </div>
          <div class="form-control mb-3">
            <!-- <input type="number" class="input text-purple-500 input-bordered " th:object="${startingBalance}" name="startingBalance" placeholder="Starting Balance"> -->
            <label class="input-group overflow-hidden">
              <input type="number" class="input input-bordered overflow-hidden" th:object="${startingBalance}" name="startingBalance" placeholder="Starting Balance" required oninput="validateInput(this)"/>
              <span>BDT</span>
            </label>
          </div>
          <div class="form-control">
            <!-- <button class="btn btn-primary">Login</button> -->
            <button class="btn btn-primary box-border border-2" type="submit">Sign Up</button>
          </div>
        </form>
      </div>
      <div class="error">
        <div th:if="${USERNAME_EXISTS != null}">
          <span th:text="${USERNAME_EXISTS}"></span>
        </div>
      </div>
    </div>
  </div>
  </form>
  <script>
    function validateInput(input) {
      // Remove non-numeric characters (except for a single decimal point)
      input.value = input.value.replace(/[^0-9.]/g, '');
    
      // Prevent negative numbers
      if (input.value < 0) {
        input.value = '0';
      }
    }
    </script>
</body>
</html>