<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
</head>
<body>
  <form th:action="@{/api/users}" th:method="POST" th:object="${user}" enctype="application/json">
    <input type="text" th:field="*{username}" placeholder="Username">
    <input type="password" th:field="*{userPassword}    " placeholder="Password">
    <button type="submit">Submit</button>
  </form>
</body>
</html>