<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
  <meta charset="UTF-8">
  <link href="https://cdn.jsdelivr.net/npm/daisyui@3.9.2/dist/full.css" rel="stylesheet" type="text/css" />
  <script src="https://cdn.tailwindcss.com"></script>
  <title th:text="${updateTitle}"></title>
</head>

<body>
  <div class="navbar bg-base-100 shadow-xl">
    <div class="navbar-start">
      <div class="dropdown">
        <label tabindex="0" class="btn btn-ghost btn-circle">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h7" />
          </svg>
        </label>
        <ul tabindex="0" class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52">
           <li><a href="/dashboard">Dashboard</a></li>
          <li><a href="/settings">Settings</a></li>
          <li><a href="/about">About</a></li>
        </ul>
      </div>
    </div>
    <div class="navbar-center">
      <a class="btn btn-ghost normal-case text-2xl">Fynanse</a>
    </div>
    <div class="navbar-end">
      <div class="indicator gap-3">
        <!-- <h1 class="font-bold btn">Login</h1> -->
        <a class="font-bold btn-outline btn btn-secondary" href="/logout">Logout</a>
      </div>
    </div>
  </div>
  <div>
    <h1 th:text="${updateTitle}"></h1>
    <p class="text-center text-lg font-normal">Amount</p>
  </div>

    <!--     this is show the user an error when user is trying to withdraw more than what they have-->
  <!--     style this however you want.-->
  <div class="error">
    <div th:if="${errorMessage != null}">
      <span th:text="${errorMessage}"></span>
    </div>
  </div>
  <div class="flex justify-center m-5">
    <div class="form-control">
      <label class="label text-center">
        <span class="label-text text-base">Enter amount</span>
      </label>
      <form th:action="@{/updateAmount}" th:method="POST">
        <label class="input-group text-primary">
          <span>Price</span>
          <input type="number" id="input-balance" placeholder="10" class="input input-bordered" name="amount"
            th:object="${amount}" th:placeholder="${updateTitle}" />
          <span>TK</span>
        </label>
        <div class="flex justify-center mt-5">
<!--          <select class="select select-primary w-full max-w-xs">-->
<!--            <option disabled selected>Category</option>-->
<!--            <option>Food Expenses</option>-->
<!--            <option>Transportation</option>-->
<!--            <option>Phone</option>-->
<!--            <option>Barber’s</option>-->
<!--            <option>Exercise</option>-->
<!--            <option>Clothing</option>-->
<!--            <option>Family Event</option>-->
<!--            <option>Bills</option>-->
          </select>
        </div>    
        <button type="submit"><div class="flex justify-center btn-primary my-5 h-12 rounded-lg font-semibold text-lg">Ok</div></button>
      </form>
      <div class="flex justify-center"><a class="link link-secondary" href="/dashboard">Go back</a></div>
      
    </div>
  </div>


  <!-- <div>
    <form th:action="@{/updateAmount}" th:method="POST">
      <input type="number" name="amount" th:object="${amount}" th:placeholder="${updateTitle}">
      <button type="submit">Ok</button>
    </form>
  </div>
  <a href="/dashboard">Go back</a> -->
</body>

</html>