<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/daisyui@3.9.2/dist/full.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title th:text="${updateTitle}"></title>
</head>
<body>
  <h1 th:text="${updateTitle}"></h1>
    <p>Amount</p>
    <div>
        <form th:action="@{/updateAmount}" th:method="POST">
            <input type="number" name="amount" th:object="${amount}" th:placeholder="${updateTitle}">
            <button type="submit">Ok</button>
        </form>
    </div>
</body>
</html>